## Input output in Python

In [1]:
print("Hello ,Welcome to Python Class")

Hello ,Welcome to Python Class

## variable
- variables are used to store values.
- we should follow rules for naming an identifier while declaring the name of variable.

In [2]:
# single variable 

name = "Pemba"
print(name)

Pemba

In [3]:
## String interpolation

print(f"My name is {name} ")

My name is Pemba

In [5]:
new_name =input("Enter your name")

print(f"Your name is {new_name}")

Your name is Pemba

Task 1

- Take username,age and email from user and display them

In [9]:
username = input("Enter your name")
age =input("Enter your age")
email =input("enter your email")
print(f"your name is {username}\n your age is {age}\n your email is {email} ")

your name is Pemba
 your age is 19
 your email is pemba@gmail.com

In [10]:
#multiple variables in python

name ="Pemba"
age = 19
city = "Kathmandu"
print(name, age, city)

Pemba 19 Kathmandu

In [ ]:
## output formating

amount = 150.752000
print("the pricr is {:.2f}".format(amount))


quantity =20

print("the quantity is{:d}".format(quantity))

the pricr is 150.75
the quantity is20

In [13]:
### End paramaters

print("Python",end="@")
print("Aadim National College")

Python@Aadim National College

## Task 2
- **Using end paramater display your collage email address**
- For example: pemba@aadimcollege.edu.np

In [17]:
print("Pemba",end="@")
print("Aadimcollege.edu.np")

Pemba@Aadimcollege.edu.np

In [19]:
### Seperate paramaters

print("python","At","Aadim",sep ="-")

python-At-Aadim

## Task 3
- Use sep paramater to seperate you name and college name wit @

In [20]:
print("Pemba","Aadim college",sep="@")

Pemba@Aadim college

### Using % Operators

- %d -> Intrger
- %f -> Float
- %s -> String (Combination  olf chnaracter)
- %x -> hexadecimal
- %o -> octal

In [ ]:
### Taking multiple input input from user 

x,y =input("Enter the two value").split()
print(f"No of boys:{x}")
print(f"No of girls:{y}")

No of boys:10
No of girls:20

In [ ]:
### Data types in python 

- Data Types: Data type specify what type of value a varible can hold


#### There are different datatypes in python:
1. Integer
2. Float 
3. Character 
4. List
5. Tuple 
6. Dictionary
7. Set
8. String


## Strongly Typed
float a = 10.2

In [27]:
print("Integer Type:")
a = 10
print(a)
print(type(a))


print("---------------")

print("Floating Type")
b = 10.32
print(b)
print(type(b))

print("---------------")
print("Character type")
c = 'zebra is a animal'
print(c)
print(type(c),len(c))

Integer Type:
10
<class 'int'>
---------------
Floating Type
10.32
<class 'float'>
---------------
Character type
zebra is a animal
<class 'str'> 17

#Identifiers in Python

- It is thr name given to the variables, functions, classes, interfaces etc.

#Rules for naming an identifier

- Cannaot use Number at Start
- Special characters cannolt be include
- We can use _
- We cannot use keywords
- we can use A-Z or a-z

## Different ways to name an identifier
1) Camel case : userName, userLocation(varaible, function)
2) Pascal case : UserName, UserLocation (Database tables, class, interface)
3) Snake case :  user_name, user_location (variablename, attribute)

## Task 4
- Create three variables x,y,z and assign values 1,1.5,"Python"

In [30]:
x,y,z = 1,1.5,"Python"

print(x,y,z)

1 1.5 Python