## keyboard 

- Keyboard is the  reserved word in a program library

In [1]:
import keyword

print(f"There are {len(keyword.kwlist)} keyboard in python are:")
print(keyword.kwlist)

There are 35 keyboard in python are:
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## Operators in python :

- Operatiors : Operators performs operations in oprands.
- Types
1.Unary : a = 20  a++
2.Binary : a = 20 b = 10 a+b (Arithematic,Relational, conditional, Logical, Bitwise)
3.Ternary

a = 10
b = 20

Sum = a+b

### Task 5

1)Write about different types of operatorss in python

1. Arithmetic Operators
- Used for math.

+   # addition
-   # subtraction
*   # multiplication
/   # division (always returns float)
%   # modulus (remainder)
**  # exponentiation (power)
Example:

a = 10
b = 3

print(a + b)   # 13
print(a % b)   # 1
print(a ** b)  # 1000

2. Assignment Operators
- Used to assign or update values.

=    # assign
+=   # add and assign
-=   # subtract and assign
*=   # multiply and assign
/=   # divide and assign
Example:

x = 5
x += 2   # same as x = x + 2
print(x) # 7

3. Comparison (Relational) Operators

-Used to compare values â†’ result is True or False.

==   # equal to
!=   # not equal to
>    # greater than
<    # less than
>=   # greater than or equal to
<=   # less than or equal to
Example:

a = 10
b = 20

print(a < b)   # True

4. Logical Operators
- Used to combine conditions.

and   # both conditions must be True
or    # at least one condition True
not   # reverses the result
Example:

age = 18
print(age >= 18 and age < 60)  # True

5. Bitwise Operators
- Work on binary (bits). Mostly used in low-level programming.

&   # AND
|   # OR
^   # XOR
~   # NOT
<<  # left shift
>>  # right shift
Example:

a = 5   # 101
b = 3   # 011

print(a & b)  # 1
6. Membership Operators
 - Check if a value exists in a sequence.

in
not in
Example:

fruits = ["apple", "banana", "mango"]

print("apple" in fruits)      # True
print("grape" not in fruits)  # True

7. Identity Operators
Check if two variables point to the same object in memory (not just equal).

is
is not
Example:

a = [1, 2, 3]
b = a

print(a is b)      # True
print(a == b)      # True (values are same)

8. Ternary (Conditional) Operator
One-line if-else.

result = "Pass" if marks >= 40 else "Fail"

In [2]:
## Unary operators 

- They takes single operands and compute the Value 
- ++, --, a++,++a, a--, --a (No increment and decrement operator in python)

- +a (+ve value)
- -a (-ve value)

SyntaxError: invalid syntax (4168772304.py, line 3)

In [ ]:
a = 10

a = ++a

print(a)

10

In [ ]:
a = 10 

a = -a 

print(a)

-10

In [ ]:
# Arithmetic operator 
- Operators that perform mathematical operation 
- Addition i.e s = a+b 
- Subtraction i.e sub =a-b 
- Multiplication i.e mul =a*b 
- Division i.e div =a/b 
- Moduleus i.e mod =a%b reminder 1 mod 10 =1 5 mod 10 = 5 11 mod 10 =1 12 mod 10 =2

In [ ]:
a = 10
b = 20 

a = a+b

print(a)

a= a*b 

print(a)

30
600

In [ ]:
num1 =20
num2 =40

print(num1+num2,num1-num2,num1*num2,num1/num2,num1%num2)

60 -20 800 0.5 20

In [ ]:
## conditional operator

a = 20
b = 20
print(a == 10)

print(a)

if(a>=b):
    print("a is greater than b")

False
20
a is greater than b

In [ ]:
## Online voting system

 # Logical operator 
notVoted = False

if(notVoted):
    age = 17
    citizenship = "nepali"
    if(age >18  and citizenship == "nepali"):
        print("Eligible to vote")
    else:
        print("You are not eligible to vote")
else:
    print("Already voted")

Already voted

## Logical operators :
- It is a type  of operator which combines two relationals
- There are three basic types of logical operators:
     - Logical and
       |A|B| A and B|A or B| !A|
       |-|-|-|-|-|
       |0|0|0|0|1|
       |0|1|0|1|1|
       |1|0|0|1|0|
       |1|1|1|1|0|
    - Logical or
    - Logical not

### Type casting 

- It is a process of converting one data type into another datatype
- To do so it should be type compatible

In [ ]:
age = int(input("Enter your age"))

print(age)
print(type(age))

12
<class 'int'>

## Task 6:

- Take integer input from user as age
- Age group between 1 to 17 -> Child 
- 18 to 59 ->Adult group 
- 59 -> Old age group

In [3]:
age =int(input("Enter your age"))
if(age<18):
    print("child age")
elif(age>18 and age<59):
      print("Adult age")
elif(age >59):
      print("old age")
else:
    print("invalid age")

child age

In [7]:
## Loops

# 1 2 3 4 5,1000
print(1,2,3,4,5)

a=1
while(a<=1000):
    print(f"|{a}|", end=",")
    a+=1

1 2 3 4 5
|1|,|2|,|3|,|4|,|5|,|6|,|7|,|8|,|9|,|10|,|11|,|12|,|13|,|14|,|15|,|16|,|17|,|18|,|19|,|20|,|21|,|22|,|23|,|24|,|25|,|26|,|27|,|28|,|29|,|30|,|31|,|32|,|33|,|34|,|35|,|36|,|37|,|38|,|39|,|40|,|41|,|42|,|43|,|44|,|45|,|46|,|47|,|48|,|49|,|50|,|51|,|52|,|53|,|54|,|55|,|56|,|57|,|58|,|59|,|60|,|61|,|62|,|63|,|64|,|65|,|66|,|67|,|68|,|69|,|70|,|71|,|72|,|73|,|74|,|75|,|76|,|77|,|78|,|79|,|80|,|81|,|82|,|83|,|84|,|85|,|86|,|87|,|88|,|89|,|90|,|91|,|92|,|93|,|94|,|95|,|96|,|97|,|98|,|99|,|100|,|101|,|102|,|103|,|104|,|105|,|106|,|107|,|108|,|109|,|110|,|111|,|112|,|113|,|114|,|115|,|116|,|117|,|118|,|119|,|120|,|121|,|122|,|123|,|124|,|125|,|126|,|127|,|128|,|129|,|130|,|131|,|132|,|133|,|134|,|135|,|136|,|137|,|138|,|139|,|140|,|141|,|142|,|143|,|144|,|145|,|146|,|147|,|148|,|149|,|150|,|151|,|152|,|153|,|154|,|155|,|156|,|157|,|158|,|159|,|160|,|161|,|162|,|163|,|164|,|165|,|166|,|167|,|168|,|169|,|170|,|171|,|172|,|173|,|174|,|175|,|176|,|177|,|178|,|179|,|180|,|181|,|182|,|183|,|184|,|185|,|186|,|187|,|188|,|189|,|190|,|191|,|192|,|193|,|194|,|195|,|196|,|197|,|198|,|199|,|200|,|201|,|202|,|203|,|204|,|205|,|206|,|207|,|208|,|209|,|210|,|211|,|212|,|213|,|214|,|215|,|216|,|217|,|218|,|219|,|220|,|221|,|222|,|223|,|224|,|225|,|226|,|227|,|228|,|229|,|230|,|231|,|232|,|233|,|234|,|235|,|236|,|237|,|238|,|239|,|240|,|241|,|242|,|243|,|244|,|245|,|246|,|247|,|248|,|249|,|250|,|251|,|252|,|253|,|254|,|255|,|256|,|257|,|258|,|259|,|260|,|261|,|262|,|263|,|264|,|265|,|266|,|267|,|268|,|269|,|270|,|271|,|272|,|273|,|274|,|275|,|276|,|277|,|278|,|279|,|280|,|281|,|282|,|283|,|284|,|285|,|286|,|287|,|288|,|289|,|290|,|291|,|292|,|293|,|294|,|295|,|296|,|297|,|298|,|299|,|300|,|301|,|302|,|303|,|304|,|305|,|306|,|307|,|308|,|309|,|310|,|311|,|312|,|313|,|314|,|315|,|316|,|317|,|318|,|319|,|320|,|321|,|322|,|323|,|324|,|325|,|326|,|327|,|328|,|329|,|330|,|331|,|332|,|333|,|334|,|335|,|336|,|337|,|338|,|339|,|340|,|341|,|342|,|343|,|344|,|345|,|346|,|347|,|348|,|349|,|350|,|351|,|352|,|353|,|354|,|355|,|356|,|357|,|358|,|359|,|360|,|361|,|362|,|363|,|364|,|365|,|366|,|367|,|368|,|369|,|370|,|371|,|372|,|373|,|374|,|375|,|376|,|377|,|378|,|379|,|380|,|381|,|382|,|383|,|384|,|385|,|386|,|387|,|388|,|389|,|390|,|391|,|392|,|393|,|394|,|395|,|396|,|397|,|398|,|399|,|400|,|401|,|402|,|403|,|404|,|405|,|406|,|407|,|408|,|409|,|410|,|411|,|412|,|413|,|414|,|415|,|416|,|417|,|418|,|419|,|420|,|421|,|422|,|423|,|424|,|425|,|426|,|427|,|428|,|429|,|430|,|431|,|432|,|433|,|434|,|435|,|436|,|437|,|438|,|439|,|440|,|441|,|442|,|443|,|444|,|445|,|446|,|447|,|448|,|449|,|450|,|451|,|452|,|453|,|454|,|455|,|456|,|457|,|458|,|459|,|460|,|461|,|462|,|463|,|464|,|465|,|466|,|467|,|468|,|469|,|470|,|471|,|472|,|473|,|474|,|475|,|476|,|477|,|478|,|479|,|480|,|481|,|482|,|483|,|484|,|485|,|486|,|487|,|488|,|489|,|490|,|491|,|492|,|493|,|494|,|495|,|496|,|497|,|498|,|499|,|500|,|501|,|502|,|503|,|504|,|505|,|506|,|507|,|508|,|509|,|510|,|511|,|512|,|513|,|514|,|515|,|516|,|517|,|518|,|519|,|520|,|521|,|522|,|523|,|524|,|525|,|526|,|527|,|528|,|529|,|530|,|531|,|532|,|533|,|534|,|535|,|536|,|537|,|538|,|539|,|540|,|541|,|542|,|543|,|544|,|545|,|546|,|547|,|548|,|549|,|550|,|551|,|552|,|553|,|554|,|555|,|556|,|557|,|558|,|559|,|560|,|561|,|562|,|563|,|564|,|565|,|566|,|567|,|568|,|569|,|570|,|571|,|572|,|573|,|574|,|575|,|576|,|577|,|578|,|579|,|580|,|581|,|582|,|583|,|584|,|585|,|586|,|587|,|588|,|589|,|590|,|591|,|592|,|593|,|594|,|595|,|596|,|597|,|598|,|599|,|600|,|601|,|602|,|603|,|604|,|605|,|606|,|607|,|608|,|609|,|610|,|611|,|612|,|613|,|614|,|615|,|616|,|617|,|618|,|619|,|620|,|621|,|622|,|623|,|624|,|625|,|626|,|627|,|628|,|629|,|630|,|631|,|632|,|633|,|634|,|635|,|636|,|637|,|638|,|639|,|640|,|641|,|642|,|643|,|644|,|645|,|646|,|647|,|648|,|649|,|650|,|651|,|652|,|653|,|654|,|655|,|656|,|657|,|658|,|659|,|660|,|661|,|662|,|663|,|664|,|665|,|666|,|667|,|668|,|669|,|670|,|671|,|672|,|673|,|674|,|675|,|676|,|677|,|678|,|679|,|680|,|681|,|682|,|683|,|684|,|685|,|686|,|687|,|688|,|689|,|690|,|691|,|692|,|693|,|694|,|695|,|696|,|697|,|698|,|699|,|700|,|701|,|702|,|703|,|704|,|705|,|706|,|707|,|708|,|709|,|710|,|711|,|712|,|713|,|714|,|715|,|716|,|717|,|718|,|719|,|720|,|721|,|722|,|723|,|724|,|725|,|726|,|727|,|728|,|729|,|730|,|731|,|732|,|733|,|734|,|735|,|736|,|737|,|738|,|739|,|740|,|741|,|742|,|743|,|744|,|745|,|746|,|747|,|748|,|749|,|750|,|751|,|752|,|753|,|754|,|755|,|756|,|757|,|758|,|759|,|760|,|761|,|762|,|763|,|764|,|765|,|766|,|767|,|768|,|769|,|770|,|771|,|772|,|773|,|774|,|775|,|776|,|777|,|778|,|779|,|780|,|781|,|782|,|783|,|784|,|785|,|786|,|787|,|788|,|789|,|790|,|791|,|792|,|793|,|794|,|795|,|796|,|797|,|798|,|799|,|800|,|801|,|802|,|803|,|804|,|805|,|806|,|807|,|808|,|809|,|810|,|811|,|812|,|813|,|814|,|815|,|816|,|817|,|818|,|819|,|820|,|821|,|822|,|823|,|824|,|825|,|826|,|827|,|828|,|829|,|830|,|831|,|832|,|833|,|834|,|835|,|836|,|837|,|838|,|839|,|840|,|841|,|842|,|843|,|844|,|845|,|846|,|847|,|848|,|849|,|850|,|851|,|852|,|853|,|854|,|855|,|856|,|857|,|858|,|859|,|860|,|861|,|862|,|863|,|864|,|865|,|866|,|867|,|868|,|869|,|870|,|871|,|872|,|873|,|874|,|875|,|876|,|877|,|878|,|879|,|880|,|881|,|882|,|883|,|884|,|885|,|886|,|887|,|888|,|889|,|890|,|891|,|892|,|893|,|894|,|895|,|896|,|897|,|898|,|899|,|900|,|901|,|902|,|903|,|904|,|905|,|906|,|907|,|908|,|909|,|910|,|911|,|912|,|913|,|914|,|915|,|916|,|917|,|918|,|919|,|920|,|921|,|922|,|923|,|924|,|925|,|926|,|927|,|928|,|929|,|930|,|931|,|932|,|933|,|934|,|935|,|936|,|937|,|938|,|939|,|940|,|941|,|942|,|943|,|944|,|945|,|946|,|947|,|948|,|949|,|950|,|951|,|952|,|953|,|954|,|955|,|956|,|957|,|958|,|959|,|960|,|961|,|962|,|963|,|964|,|965|,|966|,|967|,|968|,|969|,|970|,|971|,|972|,|973|,|974|,|975|,|976|,|977|,|978|,|979|,|980|,|981|,|982|,|983|,|984|,|985|,|986|,|987|,|988|,|989|,|990|,|991|,|992|,|993|,|994|,|995|,|996|,|997|,|998|,|999|,|1000|,

## Loops
- Loops in python programming is a concept which repeadely executed the given set of statement until the condition is satisfied.
- Repitation in loop is known as iteration.

### Types of Loops
- There are differnt type of loop in python.
1. while loop:
    - While loop is known as entry controlled  loop as it checks condition at begining.
    - Syntax:

      while(condition):
           //Code
         
         ### Task 7:
       - WAP to calculate multiplication table of user entered number
    
2. for loop
3. foreach loop
4.

In [10]:
### Task 7
i=1
number =int(input("enter the number")) 
print(type(number))
while(i<=10):
    print(f"{number}*{i}={number*i}")
    i=i+1

<class 'int'>
20*1=20
20*2=40
20*3=60
20*4=80
20*5=100
20*6=120
20*7=140
20*8=160
20*9=180
20*10=200

In [16]:
### Task 8
#2 4 5 6 8 10 14 16 18 20 22 24 26 28 30

i=2
while(i<=30):
     print(i,end=" ")
     i=i+2

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30

In [23]:
### Task9
'''Take input from user to print n no of integers and calculate their sum
e.g 5
1 2 3 4 5 
sum=15'''
i=1
sum=0
n=int(input("enter the no:"))
while(i<=n):
    print(i,end="")
    sum=sum+i
    i=i+1
    print("\n")
    print(sum)

1

1
2

3
3

6
4

10
5

15

In [32]:
i=1
sum=0
n = int(input("enter the no:"))
while(i<=n):
    print(i,end="")
    sum=sum+i
    i=i+1
print(sum)
print(f"average={sum/n}")

1234567891055
average=5.5

In [43]:
## task 10

n=5
i=1
while(i<=n):
    print("*"*i)
    i=i+1

*
**
***
****
*****

In [50]:
### task 11
n=1
i=5
while(i>=n):
    print("*"*i)
    i=i-1

*****
****
***
**
*

### For Loop in Python

- It is known as pre test loop.
- Uses:
  - Used with different data structures
  - Iteration:
     ```
        for iterating_variable in range():
            ## statements
     ```

In [2]:
## Lets display 10 numbers for loop (1-10)

for i in range (1,11,1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [15]:

sum=0
for i in range (1,11,1):
    print(i,end="")

    sum=sum+i

print(f"\nThe sum of {i}th natural no is:{sum}")

12345678910
The sum of 10th natural no is:55

In [19]:
### Display the multiplication of user enterd number using for loop

number=int(input("enter the number"))
for i in range(1,11):
    print(f"{number}*{i}={number*i}")

20*1=20
20*2=40
20*3=60
20*4=80
20*5=100
20*6=120
20*7=140
20*8=160
20*9=180
20*10=200

In [ ]:
### Display the multiplication table from 5 to 20 using nested for loop

for number in range(5,21):
    print(f"multiplication tablr of {number} is:")
    for i in range (1,11):
        print(f"{number}*{i}={number*i}")

multiplication tablr of 5 is:
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
multiplication tablr of 6 is:
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60
multiplication tablr of 7 is:
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70
multiplication tablr of 8 is:
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
8*10=80
multiplication tablr of 9 is:
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
9*10=90
multiplication tablr of 10 is:
10*1=10
10*2=20
10*3=30
10*4=40
10*5=50
10*6=60
10*7=70
10*8=80
10*9=90
10*10=100
multiplication tablr of 11 is:
11*1=11
11*2=22
11*3=33
11*4=44
11*5=55
11*6=66
11*7=77
11*8=88
11*9=99
11*10=110
multiplication tablr of 12 is:
12*1=12
12*2=24
12*3=36
12*4=48
12*5=60
12*6=72
12*7=84
12*8=96
12*9=108
12*10=120
multiplication tablr of 13 is:
13*1=13
13*2=26
13*3=39
13*4=52
13*5=65
13*6=78
13*7=91
13*8=104
13*9=117
13*10=130
multiplication tablr of 14 is:
14*1=14
14*2=28
14*3=42
14*4=56
14*5=70
14*6=84
14*7=98
14*8=112
14*9=126
14*10=140
multiplication tablr of 15 is:
15*1=15
15*2=30
15*3=45
15*4=60
15*5=75
15*6=90
15*7=105
15*8=120
15*9=135
15*10=150
multiplication tablr of 16 is:
16*1=16
16*2=32
16*3=48
16*4=64
16*5=80
16*6=96
16*7=112
16*8=128
16*9=144
16*10=160
multiplication tablr of 17 is:
17*1=17
17*2=34
17*3=51
17*4=68
17*5=85
17*6=102
17*7=119
17*8=136
17*9=153
17*10=170
multiplication tablr of 18 is:
18*1=18
18*2=36
18*3=54
18*4=72
18*5=90
18*6=108
18*7=126
18*8=144
18*9=162
18*10=180
multiplication tablr of 19 is:
19*1=19
19*2=38
19*3=57
19*4=76
19*5=95
19*6=114
19*7=133
19*8=152
19*9=171
19*10=190
multiplication tablr of 20 is:
20*1=20
20*2=40
20*3=60
20*4=80
20*5=100
20*6=120
20*7=140
20*8=160
20*9=180
20*10=200

In [21]:
for i in range(5,21):
    for j in range(1,11):
        print(f"{i}*{j}={i*j}")
    print()

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60

7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70

8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
8*10=80

9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
9*10=90

10*1=10
10*2=20
10*3=30
10*4=40
10*5=50
10*6=60
10*7=70
10*8=80
10*9=90
10*10=100

11*1=11
11*2=22
11*3=33
11*4=44
11*5=55
11*6=66
11*7=77
11*8=88
11*9=99
11*10=110

12*1=12
12*2=24
12*3=36
12*4=48
12*5=60
12*6=72
12*7=84
12*8=96
12*9=108
12*10=120

13*1=13
13*2=26
13*3=39
13*4=52
13*5=65
13*6=78
13*7=91
13*8=104
13*9=117
13*10=130

14*1=14
14*2=28
14*3=42
14*4=56
14*5=70
14*6=84
14*7=98
14*8=112
14*9=126
14*10=140

15*1=15
15*2=30
15*3=45
15*4=60
15*5=75
15*6=90
15*7=105
15*8=120
15*9=135
15*10=150

16*1=16
16*2=32
16*3=48
16*4=64
16*5=80
16*6=96
16*7=112
16*8=128
16*9=144
16*10=160

17*1=17
17*2=34
17*3=51
17*4=68
17*5=85
17*6=102
17*7=119
17*8=136
17*9=153
17*10=170

18*1=18
18*2=36
18*3=54
18*4=72
18*5=90
18*6=108
18*7=126
18*8=144
18*9=162
18*10=180

19*1=19
19*2=38
19*3=57
19*4=76
19*5=95
19*6=114
19*7=133
19*8=152
19*9=171
19*10=190

20*1=20
20*2=40
20*3=60
20*4=80
20*5=100
20*6=120
20*7=140
20*8=160
20*9=180
20*10=200

In [38]:
# *
# **
# ***
# ****
# *****
for i in range(1,6):
    print("*"*i)

*
**
***
****
*****

In [39]:
# *****
# ****
# ***
# **
# *
for i in range(5,0,-1):
    print("*"*i)

*****
****
***
**
*

In [45]:
  #   *
  #  ***
  # *****
#  *******
# *********

num=5
for i in range (0,5):
    print(" "*(num-i-1)+"*"*(2*i+1))

    *
   ***
  *****
 *******
*********

In [49]:
num =5
for i in range (5,0,-1):
    print(" "*(num-i)+"*"*(2*i-1))

*********
 *******
  *****
   ***
    *

## Functions in Python

- Function in python are declared once and used multiple times
- It avoids repetation in code 
- It improves readability

- Syntax :
     ```
    
    1. Function definition and declaration:

     def function_name(parameters):
         # statements

         return statements

    2. Call that function:
        function_name(arguments)


    ```

In [ ]:
## function without parameter

def greeting():
    name = input("Enter your name:")
    print(f"Welcome to our profession class {name}")

greeting()

Welcome to our profession class Pemba

In [5]:
## function with parameter 

def area(r):
    print(f"The area of circle with radius {r} is {3.14*r**2}")

print("We are calculating area of circle:")
radius = float(input("Enter the radius of circle")) 

area(radius)

We are calculating area of circle:
The area of circle with radius 2.5 is 19.625

In [17]:
def area(l):
    print(f"The area of square with length {l} is {l**2}")

def perimeter(l,b):
    print(f"The perimeter of square with length {l} and breadth {b} is {l*b}")


length = float(input("Enter the length of square"))
breadth = float(input("Enter the breadth of square"))  
area(length)
perimeter(length,breadth)

The area of square with length 10.0 is 100.0
The perimeter of square with length 10.0 and breadth 20.0 is 200.0

## Task 1

Calculate the area of square, rectangle ,triangle  and circle using function . Use if -else ladder


Enter your value between 1-5
1. square=>area_square()
2. rectangle=>area_rectangle()
3. triangle=>area_triangle()
4. circle=>area_circle()
5. exit

In [21]:
def area_square(l):
    
    return l**2
def area_rectangle(l, b):
   
    return l*b
def area_triangle(b, h):
   
    return 1/2*b*h
def area_circle(r):
   
    return 3.14*r**2


 # Menu
while(True):
    print("Enter your value between 1-5")
    print("1. square")
    print("2. rectangle")
    print("3. triangle")   
    print("4. circle")
    print("5. exit")
    choice = int(input("Enter your choice:"))
    # if-else ladder
    if(choice == 1):
        length = float(input("Enter the length of square"))
        print("Area of square =", area_square(length))
    elif(choice == 2):
         length = float(input("Enter the length of square"))
         breadth = float(input("Enter the breadth of rectangle"))
         print("Area of rectangle =", area_rectangle(length,breadth))
    elif(choice == 3):
         breadth = float(input("Enter the breadth of rectangle"))
         height = float(input("Enter the height of triangle"))
         print("Area of triangle =", area_triangle(breadth,height))
    elif(choice == 4):
         radius = float(input("Enter the radius of circle"))
         print("Area of circle =", area_circle(radius))
    elif(choice == 5):
        print("Exiting the program...")
        break
    else:
        print("Invalid choice")

Enter your value between 1-5
1. square
2. rectangle
3. triangle
4. circle
5. exit
Area of square = 100.0
Enter your value between 1-5
1. square
2. rectangle
3. triangle
4. circle
5. exit
Area of rectangle = 600.0
Enter your value between 1-5
1. square
2. rectangle
3. triangle
4. circle
5. exit
Exiting the program...